/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  min-width: 1200px;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body, html, .page {
  padding: 0;
  margin: 0;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.h20 {
  height: 20px;
}

.h30 {
  height: 30px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pc .no-pc, .phone .no-phone {
  display: none;
}

.phone .no-phone, .pc .no-pc {
  display: none;
}

::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #b69758;
}

::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}

.zyhy-table-box .item:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.zyhy-table-box .item p {
  float: left;
}


/* 日历样式 */

.calendar{
  width: 360px;
  height: 285px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 36px;
}

.title{
  height: 70px;
  border-bottom: 2px solid #ccb076;
  position: relative;
  text-align: center;
}

#calendar-title{
  font-size: 30px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 0 0 0;
  line-height: 57px;
}

#calendar-year{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#pre{
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('@|rili-left.png|') no-repeat 50% 50%;

  /*没规定大小时，图片显示 0X0*/
  width: 60px;
  height: 70px;
  
}

#next{
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('@|rili-left.png|') no-repeat 50% 50%;
  width: 60px;
  height: 70px;
  transform: rotate(180deg);
}  

.body-list ul{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;

}  

.body-list ul li{
  list-style: none;
  /*
  display:inline-block; 
  width: 13.3%;
  */

  /*100/7 = 14.28%*/
  display: block;
  width: 14.28%;
  float: left;

  /*规定行高，垂直居中*/
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  text-align: center;
  
}


.green{
  color:#6ac13c;
}

.lightgrey{ /*浅灰色显示过去的日期*/
color:#333;
cursor: pointer;
}   
.darkgrey{ /*深灰色显示将来的日期*/
  color: #999;
}

/*日期当天用绿色背景绿色文字加以显示*/
.active {
  background-image: url('@|dian.png|');
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}